<!--The content below is only a placeholder and can be replaced.-->
<ul>
    <li><a href="../app/app.component.html">Home</a></li>
    <li><a href="../app/about/about.component.html">About</a></li>
    <li><a href="../app/products/products.component.html">products</a></li>
  </ul>
<div class="outerbody">
  <div style="text-align:center; border-color: black">
    <h1>Autumns App side </h1>  
  </div>
  <div style ="text-align:center; border-color: black">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eius, harum vero, quod voluptas, doloremque perferendis suscipit explicabo facilis tempora magni modi. Perferendis natus autem placeat at impedit, et repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolorem earum amet esse nisi optio id veniam molestias nostrum accusantium dicta maxime ratione, consequuntur illum nulla! Quidem non neque delectus.</p>
  </div>
  <div style="">
    <div>Link to About</div>
    <div>link to Products</div>
  </div>

</div>



