<!--The content below is only a placeholder and can be replaced.-->
<ul>
    <li><a href="../app/app.component.html">Home</a></li>
    <li><a href="../app/about/about.component.html">About</a></li>
    <li><a href="../app/products/products.component.html">products</a></li>
  </ul>
<div class="outerbody">
  <div style="text-align:center; border-color: black">
    <h1>Grass Roots Gardening</h1>  
  </div>
</div>

<div class="image">
  <img src="../assets/img/grass_roots2.png" style="height: 20em; display: block; margin: 0 auto">
</div>

 <div>
  <app-products></app-products>
 </div>

<div>
  <app-about></app-about>
</div>



