h1{
    text-align: center;
    font-family: 'Teko', sans-serif;
}
h2{
    text-align: center;
}
table, td, th {    
    border: 1px solid #79be40;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}