<br>

<div class="outerbody">
    <div style="text-align:center;">
      <h1 class="title">Grass Roots Gardening </h1>  
    </div>
</div>

    <div class="image">
        <img src="../assets/img/grass_roots2.png" style="height: 20em; display: block; margin: 0 auto">
    </div>

    <div id="background">
      <img src="../assets/img/garden2.jpg" class="stretch">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<div class="jumbotron container">
    <h1 class="display-4" style="font-weight: bolder">Welcome, Gardener!</h1>
    <p class="lead">Here at Grass Roots Gardening, we take pride in our products. We want to see the world more bountiful plant life.</p>
    <hr class="my-4">
    <p> Check out more about us and our products!</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="./about" role="button">Learn more</a>
    </p>
  </div>
   