<div class="outerbody">
    <div style="text-align:center; border-color: black">
      <h1>GrassRoots Gardening </h1>  
    </div>
    <div class="image">
        <img src="../assets/img/grass_roots2.png" style="height: 20em; display: block; margin: 0 auto">
    </div>
    <div style ="text-align:center; border-color: black">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eius, harum vero, quod voluptas, doloremque perferendis suscipit explicabo facilis tempora magni modi. Perferendis natus autem placeat at impedit, et repudiandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium dolorem earum amet esse nisi optio id veniam molestias nostrum accusantium dicta maxime ratione, consequuntur illum nulla! Quidem non neque delectus.</p>
    </div>
    <div style="">
      <div>Link to About</div>
      <div>link to Products</div>
    </div>
    </div>
